.entry-content img,.entry-summary img,.comment-content img,.widget img,.wp-caption
{
	max-width:100%;
	height:auto;
}

.entry-caption,.gallery-caption
{
	color:#666;
	font-size:.9em;
	text-align:center;
}

.entry-cover
{
	position:relative;
	display:block;
	overflow:hidden;
}

.entry-cover img
{
	display:block;
	width:100%;
	height:auto;
	border-radius:3px 3px 0 0;
	background:#fff url(img/watermark.png) no-repeat 50% 50%;
	-webkit-transition:all .3s;
	-moz-transition:all .3s;
	transition:all .3s;
}

a.entry-cover:before
{
	position:absolute;
	top:0;
	left:0;
	z-index:2;
	visibility:hidden;
	width:100%;
	height:100%;
	background:#16a085;
	content:'';
	opacity:0;
	-ms-filter:alpha(opacity=0);
	filter:alpha(opacity=0);
	-webkit-transition:all .4s;
	-moz-transition:all .4s;
	-ms-transition:all .4s;
	transition:all .4s;
}

a.entry-cover:after
{
	position:absolute;
	top:50%;
	left:0;
	z-index:3;
	visibility:hidden;
	margin-top:-.5em;
	width:100%;
	color:#fff;
	content:'+';
	text-align:center;
	font-size:120px;
	font-family:arial;
	line-height:1;
	opacity:0;
	-ms-filter:alpha(opacity=0);
	filter:alpha(opacity=0);
	-webkit-transition:all .4s;
	-moz-transition:all .4s;
	-ms-transition:all .4s;
	transition:all .4s;
}

a.entry-cover:hover:before
{
	visibility:visible;
	opacity:.8;
	-ms-filter:alpha(opacity=80);
	filter:alpha(opacity=80);
}

a.entry-cover:hover:after
{
	visibility:visible;
	opacity:1;
	-ms-filter:alpha(opacity=100);
	filter:alpha(opacity=100);
}

a.entry-cover:hover img
{
	-webkit-transform:scale(1.1);
	-moz-transform:scale(1.1);
	transform:scale(1.1);
}

.entry-summary .entry-cover,.entry-content .entry-cover
{
	margin-bottom:1em;
}

.entry-thumb
{
	float:left;
	width:30%;
	margin:20px 0 20px 20px;
}

.entry-body
{
	margin-left:30%;
	overflow:hidden;
	_zoom:1;
}

.entry-media
{
	border-radius:3px 3px 0 0;
}

.entry-media p
{
	font-size:0;
	margin:0;
}

.entry-title
{
	font-weight:400;
	font-size:1.7em;
	margin:0;
}

.entry-title a
{
	color:#111;
}

.entry-meta
{
	margin-top:.5em;
	color:#aaa;
}

.entry-meta .dot
{
	margin:0 .4em;
}

.entry-summary,.entry-content
{
	word-wrap:break-word;
	word-break:normal;
	line-height:1.7;
	margin:15px 20px;
}

.entry-summary>:first-child,.entry-content>:first-child
{
	margin-top:-.3em;
}

.entry-footer
{
	position:relative;
	min-height:1.5em;
	height:auto!important;
	margin:15px 20px;
}

.more-link
{
	float:right;
	color:#16a085;
}

.user-img
{
	float:right;
	border-radius:50%;
}
.author-img{
    float:left;
    border-radius:50%;
}
.reply{
    float:right;
}

.tags-links
{
	font-size:12px;
	-webkit-transition:opacity .3s;
	-moz-transition:opacity .3s;
	transition:opacity .3s;
}

.tags-links a
{
	margin-right:.5em;
	border-radius:2px;
	background:#ccc;
	color:#fff;
	-webkit-transition:background .3s;
	-moz-transition:background .3s;
	transition:background .3s;
	padding:2px 4px;
}

.tags-links a:before
{
	content:"#";
}

.tags-links a:hover
{
	background:#aaa;
}

.entry-footer .copyright
{
	background:#f7f7f7;
	border:1px solid #16a085;
	border-left-width:4px;
	clear:both;
	margin:1em 0;
	padding:.5em .7em;
}

.entry-icon
{
	float:left;
	width:25px;
	height:25px;
	background:url(img/post-formats.png) no-repeat 50%;
	margin:21px 20px 0;
}

.format-image .entry-icon
{
	background-position:50% -25px;
}

.format-gallery .entry-icon
{
	background-position:50% -50px;
}

.format-audio .entry-icon
{
	background-position:50% -75px;
}

.format-video .entry-icon
{
	background-position:50% -100px;
}

.format-aside .entry-icon
{
	background-position:50% -125px;
}

.format-status .entry-icon
{
	background-position:50% -150px;
	position:absolute;
	top:50%;
	left:-13px;
	margin:-13px 0 0;
}

.format-chat .entry-icon
{
	background-position:50% -175px;
}

.format-quote .entry-icon
{
	background-position:50% -200px;
}

.format-link .entry-icon
{
	background-position:50% -225px;
}

.format-quote .entry-content blockquote
{
	border-left:0;
	font-size:1.7em;
	margin:0;
	padding:0;
}

.format-quote .entry-content footer
{
	color:#666;
	text-align:right;
	font-size:14px;
}

.format-quote .entry-meta
{
	margin:15px 20px 15px 65px;
}

.format-status
{
	position:relative;
	overflow:visible;
	margin-left:32px;
	border-left:1px dotted #ccc;
	border-radius:0;
	background:0;
	box-shadow:none;
	font-style:italic;
}

.format-status .entry-header
{
	padding-top:5px;
	padding-bottom:5px;
}

.format-status .entry-content
{
	color:#666;
	font-size:18px;
	line-height:1.5;
	margin:0 20px 5px 30px;
}

.format-status .entry-meta
{
	margin-top:0;
	margin-left:30px;
	padding-bottom:2px;
	font-size:12px;
}

.format-chat .entry-summary,.format-chat .entry-content,.format-aside .entry-summary,.format-aside .entry-content
{
	margin-left:65px;
}

.format-chat .tags-links,.format-aside .tags-links
{
	margin-left:45px;
}

.entry-summary p,.entry-content p
{
	color:#16a085;
	margin:0 0 1em;
}

.entry-summary a:hover,.entry-content a:hover
{
	border-bottom:1px dotted #1abc9c;
	color:#1abc9c;
}

.entry-summary blockquote,.entry-content blockquote
{
	margin-left:0;
	padding-left:1em;
	border-left:4px solid #ddd;
}

.entry-summary pre,.entry-content pre
{
	background:#f7f7f7;
	padding:2em;
}

.entry-summary code,.entry-content code
{
	background:#f7f7f7;
	padding:.1em .2em;
}

.entry-summary pre code,.entry-content pre code
{
	background:transparent;
	padding:0;
}

.entry-summary th,.entry-content th
{
	background:#f7f7f7;
}

.entry-summary th,.entry-summary td,.entry-content th,.entry-content td
{
	border:1px solid #eee;
	padding:.2em .5em;
}

.entry-attachment .entry-caption
{
	font-style:normal;
	margin:20px 0 0;
}


.entry-content .gallery-item
{
	width:31%;
	margin:1%;
}

body.single .tags-links
{
	display:block;
	margin:40px 0 20px;
}

body.single .hentry
{
	margin-bottom:10px;
}

#error404 .code
{
	font-size:180px;
	text-align:center;
	color:#999;
}

#error404 h1
{
	margin-bottom:0;
	font-weight:400;
	font-size:31px;
}

#error404 h3
{
	color:#ccc;
	font-weight:400;
	font-size:18px;
	margin:.5em 0;
}

#error404 ul
{
	list-style:none;
	line-height:2;
	margin:0;
	padding:0;
}

#error404 li
{
	display:inline;
	margin:0 .5em;
}

#comments
{
	clear:both;
	margin:40px 0;
}

#comments-title
{
	color:#999;
	font-weight:400;
	font-size:22px;
	margin:0 0 1em;
}

.comment
{
	padding-top:1em;
	border-top:1px dotted #ccc;
	margin:0 0 1em;
}

.comment-body
{
	position:relative;
	margin-left:60px;
}

.comment-author .avatar
{
	position:absolute;
	top:0;
	left:-60px;
	border-radius:3px;
}
.comment-author .fn
{
	color:#16a085;
	font-style:normal;
}
.comment-author .url
{
	color:#16a085;
	font-weight:700;
}

.bypostauthor
{
	_border-top:1px solid #16a085;
}

.comment-awaiting-moderation, .comment-author time
{
	float:right;
	color:#999;
	font-size:12px;
	margin-top:-.8em;
}

.comment-content
{
	margin-top:.5em;
	word-wrap:break-word;
	word-break:normal;
}

.comment-content p
{
	margin:0 0 .5em;
}
.comment-content>p:last-child
{
	margin-bottom:.2em;
}

.comment-content pre, .comment-content code
{
	background:#e7e7e7;
	margin:0 .2em;
	padding:.2em;
}

.comment-footer
{
	text-align:right;
	font-size:12px;
	opacity:0;
	-webkit-transition:opacity .3s;
	-moz-transition:opacity .3s;
	transition:opacity .3s;
}

.comment-footer a
{
	margin-left:1em;
	color:#16a085;
}

.children
{
	list-style-type:none;
	margin:1em 0 0 60px;
	padding:0;
}

.pingback
{
	border-top:1px dotted #ccc;
	text-align:center;
	font-style:italic;
	padding:20px 0;
}

.pingback p
{
	display:inline;
	padding-left:24px;
	background:url(img/pingback.png) no-repeat 0 50%;
}

#comments .navigation
{
	border-top:1px dotted #ccc;
	padding-top:20px;
	margin:0;
}

#cancel-comment-reply-link
{
	float:right;
	clear:both;
	color:#999;
	font-size:9px;
	margin:.5em 0 -.9em;
}

#comment-settings.show
{
	display:block;
}

.comment-settings>:first-child
{
	margin-top:0;
}

.comment-more p
{
	margin:1em 0 0;
}

#comment_mail_notify
{
	margin-right:.5em;
}

.comment-form-author
{
	margin-top:0;
	border-radius:2px 2px 0 0;
}

.comment-form-url
{
	border-radius:0 0 2px 2px;
}

.comment-fields input
{
	margin-left:7px;
	width:170px;
	height:20px;
	border:0;
	vertical-align:middle;
	background:#fff;
}

#commentform .comment-form-comment
{
	position:relative;
	z-index:1;
	margin-bottom:-2px;
	border:2px solid #ddd;
	border-radius:3px 3px 0 0;
	background:#fff;
	padding:7px;
}

#commentform .must-log-in
{
	height:32px;
	border-radius:3px;
	text-align:center;
	line-height:32px;
}

#commentform .comment-form-comment label
{
	position:absolute;
	top:7px;
	left:7px;
	color:#999;
}

#comment
{
	width:100%;
	height:7em;
	border:0;
	resize:vertical;
	background:#fff;
	-webkit-transition:color .3s;
	-moz-transition:color .3s;
	transition:color .3s;
	padding:0;
}

.comment-form-footer
{
	position:relative;
	z-index:2;
	height:32px;
	border:2px solid #ddd;
	border-right:0;
	border-radius:0 0 3px 3px;
	background:#eee;
}

.comment-smilies
{
	float:left;
	margin:5px 0 0 7px;
}

.comment-smilies img
{
	margin-right:5px;
	cursor:pointer;
}

.comment-settings-toggle
{
	float:right;
	color:#999;
	line-height:22px;
	cursor:pointer;
	margin:5px 10px 0 0;
}

.comment-settings-toggle .name
{
	display:inline-block;
	margin-right:.2em;
	vertical-align:top;
}

.comment-settings-toggle .arrow
{
	position:relative;
	top:-1px;
	font-style:normal;
	font-size:12px;
}

.comment-settings-toggle.required .arrow
{
	top:2px;
}

.comment-settings-toggle:hover .arrow
{
	border-top-color:#666;
}

.comment-settings-toggle.required
{
	margin-top:3px;
	margin-right:4px;
	border:2px solid #ddd;
	border-radius:3px;
	background:#fff;
	font-size:12px;
	cursor:text;
	padding:0 4px;
}

#submit
{
	float:right;
	width:100px;
	height:36px;
	border:2px solid #149077;
	border-radius:0 0 3px 0;
	background:#16a085;
	color:#fff;
	-webkit-transition:all .3s;
	-moz-transition:all .3s;
	transition:all .3s;
	margin:-2px 0 0;
}

#submit:hover
{
	background-color:#26ad93;
	border-color:#16a085;
}

#submit:active
{
	background-color:#149077;
	border-color:#147e68;
}

#submit:disabled:hover
{
	background-color:#16a085;
	border-color:#149077;
}

.no-comments
{
	padding-top:90px;
	background:url(img/sofa.png) no-repeat 50% 0;
	color:#999;
	text-align:center;
	cursor:pointer;
	margin:100px 0 70px;
}


#rocket
{
	position:fixed;
	right:50px;
	bottom:50px;
	z-index:7;
	display:block;
	visibility:hidden;
	width:26px;
	height:48px;
	background:url(img/rocket.png) no-repeat 50% 0;
	opacity:0;
	-webkit-transition:visibility .6s cubic-bezier(0.6,0.04,0.98,0.335),opacity .6s cubic-bezier(0.6,0.04,0.98,0.335),-webkit-transform .6s cubic-bezier(0.6,0.04,0.98,0.335);
	-moz-transition:visibility .6s cubic-bezier(0.6,0.04,0.98,0.335),opacity .6s cubic-bezier(0.6,0.04,0.98,0.335),-moz-transform .6s cubic-bezier(0.6,0.04,0.98,0.335);
	transition:visibility .6s cubic-bezier(0.6,0.04,0.98,0.335),opacity .6s cubic-bezier(0.6,0.04,0.98,0.335),transform .6s cubic-bezier(0.6,0.04,0.98,0.335);
	_display:none;
}

#rocket i
{
	display:block;
	margin-top:48px;
	height:14px;
	background:url(img/rocket.png) no-repeat 50% -48px;
	opacity:.5;
	-webkit-transition:0 .2s;
	-moz-transition:0 .2s;
	transition:transform .2s;
	-webkit-transform-origin:50% 0;
	-moz-transform-origin:50% 0;
	transform-origin:50% 0;
}

#rocket:hover
{
	background-position:50% -62px;
}

#rocket:hover i
{
	background-position:50% 100%;
	-webkit-animation:flaming .7s infinite;
	-moz-animation:flaming .7s infinite;
	animation:flaming .7s infinite;
}

#rocket.launch
{
	background-position:50% -62px;
	opacity:0;
	-webkit-transform:translateY(-500px);
	-moz-transform:translateY(-500px);
	-ms-transform:translateY(-500px);
	transform:translateY(-500px);
	pointer-events:none;
}

#rocket.launch i
{
	background-position:50% 100%;
	-webkit-transform:scale(1.4,3.2);
	-moz-transform:scale(1.4,3.2);
	transform:scale(1.4,3.2);
}

.entry-cover:hover+.entry-header .entry-title a,.entry-title a:hover,.entry-meta a:hover,.entry-summary a,.entry-content a,#error404 a,.must-log-in a
{
	color:#16a085;
}

.entry-thumb img,.entry-summary .entry-cover img,.entry-content .entry-cover img,body.single .entry-cover img
{
	border-radius:0;
}

.entry-summary .entry-cover:hover,.entry-content .entry-cover:hover,.dearreaders a:hover
{
	border-bottom:0;
}

.entry-header,.format-quote .entry-content
{
	overflow:hidden;
	margin:15px 20px;
}

.entry-meta a,#footer a:hover
{
	color:#aaa;
}

.format-standard .entry-icon,.widget_calendar .widget-title span,.widget_minty_recentposts .widget-title span,.widget_recent_entries .widget-title span
{
	background-position:50% 0;
}

.format-image .entry-media img,.entry-content table,#wp-calendar
{
	width:100%;
}

.format-quote .entry-content p,.format-status .entry-content p,.entry-attachment .attachment,#comments .loadmore
{
	margin:0;
}

.entry-attachment,.page-header,.page .entry-title,#error404,#wp-calendar tbody td
{
	text-align:center;
}

#postination a:hover,.comment-settings-toggle:hover
{
	color:#666;
}

#links a,#links img,.comment-fields label
{
	vertical-align:middle;
}

#error404 a:hover,.commentlist .comment-author .url:hover,.commentlist .comment-footer a:hover,.must-log-in a:hover
{
	color:#1abc9c;
}

.commentlist .children .children,.commentlist .children .comment-body,.depth-2 #respond,.comment #commentform
{
	margin-left:40px;
}

.commentlist .children .comment-author .avatar,.comment #commentform .avatar
{
	left:-40px;
	width:30px;
	height:30px;
}

#respond,.widget
{
	clear:both;
	margin-bottom:40px;
}

.comment-fields input:focus,#comment:focus,.widget_minty_mailsubscription .rsstxt:focus
{
	outline:0;
}

#comment:disabled,#submit:disabled
{
	opacity:.8;
	cursor:not-allowed;
}

.widget li,#calendar_wrap
{
	border-bottom:1px dotted #ccc;
}

.widget_minty_slideshow a,#minty_recentcomments a
{
	padding:0;
}

#rocket.show,.rslides_container:hover .rslides_nav
{
	visibility:visible;
	opacity:1;
}

@media only screen and max-width1300px {
	#nav .menu-item-responsive-1300
	{
		display:none;
	}
}

@media only screen and max-width1000px {
	#nav li
	{
		margin:0 7px;
	}

	#nav ul
	{
		width:calc(100%-150px);
	}

	#hgroup .slogan,#nav .menu-item-responsive-1000
	{
		display:none;
	}
}

@media only screen and max-width800px {
	#nav li
	{
		margin:0 5px;
	}

	#nav .menu-item-responsive-800
	{
		display:none;
	}
}

@media only screen and max-width700px {
	#nav .menu-item-responsive-700
	{
		display:none;
	}
}

@media only screen and max-width620px {
	#nav .menu-item-responsive-620
	{
		display:none;
	}
}

@media only screen and min-device-width768px and max-device-width1024px and orientationportrait,only screen and max-width800px {
	#container
	{
		width:auto;
	}

	#featured-content h3
	{
		font-size:1em;
	}

	#main,#sidebar
	{
		width:auto;
		float:none;
	}

	.entry-cover img
	{
		max-height:100vw;
	}

	.widget
	{
		margin-left:.6%;
		margin-right:.6%;
		margin-bottom:10px;
		width:32%;
		float:left;
		clear:none;
	}

	.widget-simpletags
	{
		margin-right:0;
	}

	#footer
	{
		width:auto;
		margin:0 20px;
	}

	a.entry-cover:before,a.entry-cover:after,.widget_minty_mailsubscription,.widget_text
	{
		display:none;
	}
}

@media only screen and max-width540px {
	body
	{
		padding-top:48px;
		_padding-top:0;
	}

	#header
	{
		height:48px;
	}

	#header:after
	{
		content:'.';
		color:#fff;
		-webkit-user-select:none;
	}

	#logo
	{
		width:150px;
		background-image:url(img/logo@m.png);
		background-size:150px 48px;
	}

	#header .connect
	{
		position:absolute;
		top:48px;
		left:0;
		display:none;
		overflow:hidden;
		width:100%;
		background:#fff;
		border-top:1px solid #ddd;
		height:50px;
		box-shadow:0 1px 3px rgba(0,0,0,.2);
		margin:0;
	}

	#searchform
	{
		float:none;
		-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
		box-sizing:border-box;
		width:auto;
		height:50px;
		margin:0 15px;
		padding:10px 0;
	}

	#s
	{
		position:static;
		float:left;
		-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
		box-sizing:border-box;
		width:80%;
		height:30px;
		border:0;
		background:#fff;
		font-size:14px;
		opacity:1;
		cursor:text;
		padding:0 10px 0 0;
	}

	#s:focus
	{
		width:80%;
		height:30px;
		margin:0;
		padding:0 10px 0 0;
	}

	#searchsubmit
	{
		display:block;
		-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
		box-sizing:border-box;
		width:20%;
		height:30px;
		border:0;
		background:#16a085;
		color:#fff;
		font-size:14px;
		border-radius:0;
	}

	#footer
	{
		width:auto;
		margin:0 15px;
	}

	#container
	{
		width:auto;
		margin:0 0 15px;
		padding:15px 15px 0;
	}

	#main
	{
		float:none;
		width:auto;
	}

	a.entry-cover:hover img
	{
		-webkit-transform:none;
		-moz-transform:none;
		transform:none;
	}

	.hentry
	{
		margin-bottom:15px;
	}

	.entry-header
	{
		margin:15px;
	}

	.entry-summary,.entry-content
	{
		margin:10px 15px 15px;
	}

	.entry-title,.format-quote .entry-content blockquote
	{
		font-size:1.4em;
	}

	.entry-meta
	{
		margin-top:.1em;
	}

	.entry-content embed,.entry-content iframe
	{
		max-height:300px;
	}

	.entry-content .gallery-item
	{
		width:48%;
		margin:1%;
	}

	.entry-icon
	{
		margin-top:15px;
		background-image:url(img/post-formats@2x.png);
		background-size:25px auto;
	}

	.navigation,.loadmore
	{
		margin:20px 0 5px;
	}

	.loadmore
	{
		background-image:url(img/loadmore@2x.png);
		background-size:21px 11px;
	}

	#comments .loadmore
	{
		margin-bottom:5px;
	}

	#comments
	{
		margin-bottom:0;
	}

	.commentlist .comment
	{
		margin-bottom:10px;
		padding-top:10px;
	}

	.commentlist .comment .children
	{
		margin-top:10px;
	}

	.commentlist .comment-footer
	{
		opacity:1;
	}

	#commentform
	{
		border:0;
		background:0;
	}

	#comment-settings
	{
		position:static;
		display:block;
		width:auto;
		border:0;
		background:0;
		box-shadow:none;
		margin:0;
		padding:0;
	}

	.comment-fields input
	{
		width:calc(100%-3em);
	}

	.comment-more p
	{
		margin-bottom:1em;
	}

	#commentform .comment-form-comment
	{
		margin-top:-2px;
		margin-bottom:0;
		border-radius:0;
	}

	.comment-form-footer
	{
		height:auto;
		border:0;
		border-top:2px solid #ddd;
		background:0;
	}

	.comment-smilies
	{
		float:none;
		border:2px solid #ddd;
		border-top:0;
		border-radius:0 0 2px 2px;
		background:#eee;
		margin:-2px 0 0;
		padding:7px;
	}

	.comment-smilies img
	{
		margin:6px;
	}

	#submit
	{
		float:none;
		width:100%;
		border-radius:2px;
		margin:1em 0 0;
	}

	#error404 .code
	{
		font-size:77px;
	}

	.page-title
	{
		margin-bottom:15px;
		font-size:20px;
	}

	#links li
	{
		width:40%;
	}

	#wumiiLikeBtnDiv
	{
		margin-left:30%!important;
	}

	#nav,#header .userinfo,#header .connect>:not(#searchform),#rocket,a.entry-cover:before,a.entry-cover:after,.entry-summary,body:not(.single) .entry-footer,.pagination,.bdsharebuttonbox a:nth-child(n+4):not(:last-child),body.single .entry-footer .qrcode,#commentform .comment-mail-notify,.comment-settings-toggle,#sidebar,.author-info,.breadcrumb,#nprogress,#featured-content.fcgrid
	{
		display:none;
	}

	#m-btns,body:not(.single) .format-video .entry-media
	{
		display:block;
	}

	body.single .wumii-text-a,.entry-footer .copyright
	{
		font-size:12px;
	}
}