html, body {
	color: #9E9E9E;
	line-height: 1.75em;
	background: #ebebeb;
	position: relative;
	font-family: "Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB",
		"Hiragino Sans GB W3", "WenQuanYi Micro Hei", "Microsoft YaHei UI",
		"Microsoft YaHei", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 400;
	color: #303030;
}

h1 {
	font-size: 3em;
}

h2 {
	font-size: 2.5em;
}

h3 {
	font-size: 2em;
}

h4 {
	font-size: 1.5em;
}

h5 {
	font-size: 1em;
}

h6 {
	font-size: 0.75em;
}

::selection {
    background:#16a085;
    color:#ffb61e;
}

::-moz-selection {
    background:#16a085;
    color:#ffb61e;
}

::-webkit-selection {
    background:#16a085;
    color:#ffb61e;
}

.copyright {
	background: #ffffff;
	font-size: 13px;
	text-align: center;
	color: #000000;
	padding-top: 28px;
	padding-bottom: 28px;
	border-top: 1px solid #ffffff;
}

.copyright span {
	margin: 0 .5em;
}

.copyright a {
	color: #555555;
}

.sidebar .widget {
	background: #ffffff;
	padding: 10px 10px 10px 10px;
}

.widget .name {
	font-size: 30px;
	font-weight: lighter;
}

.widget .title {
	margin-top: 0;
	padding-bottom: 7px;
	border-bottom: 1px solid #ebebeb;
	margin-bottom: 21px;
	position: relative;
}

.widget .title:after {
	content: "";
	width: 90px;
	height: 1px;
	background: #e67e22;
	position: absolute;
	left: 0;
	bottom: -1px;
}

.widget .tag-cloud a {
	border: 1px solid #ebebeb;
	padding: 2px 7px;
	color: #959595;
	line-height: 1.5em;
	display: inline-block;
	margin: 0 7px 7px 0;
	-webkit-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	transition: all 0.2s ease;
}

.notes-img {
	display: inline-block;
	vertical-align: top
}

.js-user-card {
	margin: 22px 0 0 20px
}

.avatar-sm {
	width: 50px !important;
	height: 50px !important;
	margin-bottom: 10px;
	-webkit-border-radius: 50% !important;
}

i {
	color: #808080;
	font-style: normal;
	font-weight: inherit;
}

.slogan {
	text-align:center;
	margin-left: auto;
	margin-right: auto;
	padding-top: 80px;
	padding-bottom: 10px;
}

.close-slagan{
	margin-right:20px;
	margin-bottom:50px;
	float: right;
}
.user{
	margin-top:15px;
}

