{% extends 'blog_base.html' %}
{% load custom_markdown %}
{% block title%}
{{article.title}}
{% endblock %}

{% block extra_head %}

{% endblock %}

{% block content %}
<section class="content-wrap">
    <div class="container">
        <div class="row">
            <aside class="col-md-1 sidebar"></aside>
            <main class="col-md-7 main-content">
                <article id="{{article.id}}" class="post">
                    <header class="entry-header">
                        <h2 class="entry-title">
                            {{ article.title }}
                            <img src="/static/image/logo.png" class="user-img" title="{{ article.user.username}}">
                        </h2>

                        <div class="entry-meta">
                            <time class="entry-date">{{article.create_time|date:"Y-m-d"}}</time>
                            <span class="dot">&bull;</span> <span class="categories-links"><a
                                href="{% url 'blog:search_category' article.category.category_name 1%}" title="" rel="category tag">{{article.category.category_name}}</a></span>
                            <span class="dot">&bull;</span> <a href="#" class="comments-link" title="">{{article.read_count}}
                            次阅读</a>
                        </div>
                    </header>
                    <div class="entry-content">
                        {{ article.content_md|custom_markdown }}
                    </div>
                    <footer class="entry-footer">
                        {% for tag in article.tags %}
                        <span class="tags-links"><a href="{% url 'blog:search_tag' tag 1%}" rel="tag">{{tag}}</a></span>
                        {% endfor %}
                    </footer>
                </article>
            </main>
            <aside class="col-md-3 sidebar">
                <div class="widget"></div>
            </aside>
        </div>
    </div>
</section>
<section class="content-wrap">
    <div class="container">
        <div class="row">
            <aside class="col-md-1 sidebar"></aside>
            <main class="col-md-7 main-content">
                <div id="comments"><h3 id="comments-title">{{article.comment_nums}} 条评论</h3></div>

                <div class="post" id="reply_{{reply.author.username}}">
                    {% for reply in replies %}
                    <div class="post-footer">
                        <div class="comment-author">
                            <img src="/static/image/logo.png" class="author-img">
                            <cite class="fn url">{{reply.author.username}}</cite>
                            <time>{{reply.reply_time|date:'Y-m-d'}}</time>
                            <time><a href="javascript:viod(0)" name="reply">回复</a>
                                <span class="dot">&bull;</span>
                            </time>

                        </div>
                        <div class="comment-content">
                            <p>{{reply.content}}</p>
                        </div>
                    </div>
                    {% endfor %}
                </div>

                {% if request.user.is_authenticated %}
                <div id="respond">
                        <form action="{% url 'blog:reply' article.id %}" method="post">{% csrf_token %}
                            <div class="form-group">
                                 <textarea class="form-control" name="reply_content" id="reply_area" rows="6" placeholder="留下足迹才美丽..."></textarea>
                            </div>
                            <footer class="entry-footer">
                                <button class="btn btn-primary reply" type="submit">回复</button>
                            </footer>
                        </form>
                    </div>
                {% endif %}
            </main>
            <aside class="col-md-3 sidebar">
                <div class="widget">
                    <header class="entry-header">
                        <h1 class="page-title">标签云</h1>
                    </header>
                    <div class="">
                        {% for tag_info in tag_info_list %}
                        <a href="{% url 'blog:search_tag' tag_info.tag_name 1%}" style="font-size:{{tag_info.tag_size}}px; color:{{tag_info.tag_color}}">{{tag_info.tag_name}}</a>
                        {% endfor %}
                    </div>
                </div>
            </aside>
        </div>
    </div>
</section>

{% endblock %}
{% block scripts %}
<script type="text/javascript">
    $(function(){
        $("a[name='reply']").click(function(){
            //获取当前<cite>的值（因为<cite>标签不止一个）
           var username = $("a[name='reply']").parent().parent().children().eq(1).text();
           var value = $("#reply_area").val()+"@"+username+" ";
           $("#reply_area").val(value);
           $("#reply_area").focus();
        });
    })
</script>
{% endblock %}