{% extends 'blog_base.html' %}
{% load custom_markdown %}
{% block title%}
{{article.title}}
{% endblock %}

{% block extra_head %}

{% endblock %}

{% block content %}
<section class="content-wrap">
    <div class="container">
        <div class="row">
            <aside class="col-md-1 sidebar"></aside>
            <main class="col-md-7 main-content">
                 <article id="{{article.id}}" class="post">
                    <header class="entry-header">
                        <h2 class="entry-title">
                            {{ article.title }}
                            <img src="/static/image/logo.png" class="more-link" title="{{ request.user.username}}">
                        </h2>

                        <div class="entry-meta">
                            <time class="entry-date">{{article.create_time|date:"Y-m-d"}}</time>
                            <span class="dot">&bull;</span> <span class="categories-links"><a
                                href="" title="" rel="category tag">分类</a></span>
                            <span class="dot">&bull;</span> <a href="" class="comments-link" title="">{{article.read_count}} 次阅读</a>
                        </div>
                    </header>
                     <div class="entry-content">
                          {{ article.content_md|custom_markdown }}
                     </div>
                     <footer class="entry-footer">
                         {% for tag in article.tags %}
                        <span class="tags-links"><a href="" rel="tag">{{tag}}</a></span>
                         {% endfor %}
                    </footer>
                 </article>
            </main>
        </div>
    </div>
</section>
{% endblock %}