<nav class="navbar navbar-default navbar-shiguang navbar-fixed-top"
     data-nav="#">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="" href="{% url 'blog:index' %}">
                <img src="/static/image/logo.png" title="www.yech.site"/>
            </a>
            <span class="label label-primary logo-title">那个人好像一只狗</span>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-respond">
                <li><a href="{% url 'blog:index' %}">首页</a></li>
                <li><a href="{% url 'blog:zhihu_style' %}">数据看知乎</a></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                      文章分类 <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="{% url 'blog:search_category' 'Coding征途' 1%}">Coding征途</a></li>
                    <li><a href="{% url 'blog:search_category' '闲言碎语' 1%}">闲言碎语</a></li>
                    <li><a href="{% url 'blog:search_category' '杂感随想' 1%}">杂感随想</a></li>
                    <li><a href="{% url 'blog:search_category' '未来TODO' 1%}">未来TODO</a></li>
                    <li><a href="{% url 'blog:search_category' '莫名牢骚' 1%}">莫名牢骚</a></li>
                  </ul>
                </li>
                <li><a href="{% url 'blog:archive' %}">文章归档</a></li>
                {% if request.user.is_staff %}
                <li><a href="{% url 'blog:article_publish' %}">写文章</a></li>
                {% endif %}
                <li><a href="{% url 'blog:about' %}">关于</a></li>
                <li><a href="{% url 'blog:photo_wall' %}">照片墙</a></li>
                <li><a href="{% url 'blog:message_board' %}">留言板</a></li>


            </ul>
            <!--<ul class="nav navbar-nav navbar-respond">-->
                <!--<form action="" method="post" target="_blank" class="navbar-form navbar-right">-->
                    <!--<div class="form-group" style="width: 245px;">-->
                        <!--<input name="" type="text" class="form-control search-bar" placeholder="文章...">-->
                        <!--<i class=""></i>-->
                    <!--</div>-->
                <!--</form>-->
            <!--</ul>-->
            <ul class="nav navbar-nav navbar-right">
                <li><a href="{% url 'blog:register' %}">注册</a></li>
                {% if not request.user.username %}
                <li><a href="{% url 'blog:login' %}">登入</a></li>
                {% else %}
                <li><a href="">{{request.user.username}}</a></li>
                <li><a href="{% url 'blog:logout' %}">注销</a></li>
                <!--<li><a href="{% url 'blog:login' %}">登入</a></li>-->
                {% endif %}

            </ul>
        </div>
    </div>
</nav>

<div class="jumbotron alert-info slogan">
    <p>
        <img src="/static/image/chen.png" width="50"  title="梦想"/>
    </p>
</div>