<nav class="navbar navbar-default navbar-shiguang navbar-fixed-top"
     data-nav="#">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/blog">
                <img src="/static/image/logo.png" width="40" title=""/>
            </a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-respond">
                <li><a href="/blog">首页</a></li>
                <li><a href="#">测试</a></li>
                <li><a id="" href="/article/publish">写文章</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-respond">
                <form action="" method="post" target="_blank" class="navbar-form navbar-right">
                    <div class="form-group" style="width: 245px;">
                        <input name="" type="text" class="form-control search-bar" placeholder="文章...">
                        <i class=""></i>
                    </div>
                </form>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/user/register">注册</a></li>
                <li id="login-link">
                    <a data-toggle="modal" data-target="#login" href="#">登入</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="jumbotron alert-info slogan">
    <p>
        <img src="/static/image/chen.png" width="50"  title="梦想"/>
    </p>
</div>