<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <title>{% block title%}{% endblock %}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" href="/static/image/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="/static/image/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/beauty.css">
    <link rel="stylesheet" href="/static/css/highlight.css">
    <script src="http://cdn.bootcss.com/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    {% block extra_head %}{% endblock %}
</head>
<body>
{% block nav %}
{% include "blog_nav.html" %}

{% endblock %}

{% block content %}{% endblock %}

{% block footer %}
{% include "footer.html" %}
{% endblock %}

{% block scripts %}{% endblock %}

</body>
</html>