{% extends 'blog_base.html' %}
{% block title%}
照片墙 | yech.site
{% endblock %}
{% block content %}
<section class="content-wrap">
    <div class="container">
        <div class="row">
            <aside class="col-md-1 sidebar">
            </aside>
            <main class="col-md-8 main-content">
                <article  class="post">
                    <div class="wrapper">
                        {% for photo in photos %}
                        <div class="box">
                            <img src="{{ photo.image.url }}" title="{{ photo.photo_name }}" width="145px">
                        </div>
                        {% endfor %}
                        <div class="box-end" id="photo-end">+</div>
                    </div>
                    <form enctype="multipart/form-data" method="post" action="{% url 'blog:upload_img' %}" id="upload_form">
                        {% csrf_token %}
                        <a class="input-file" href="javascript:;">
                            <input type="file" name="image">
                            <span class="glyphicon glyphicon-picture"></span>
                            图片
                        </a>
                        <div class="showFile"></div>
                        <div class="showError"></div>
                    </form>
                </article>
            </main>
        </div>
    </div>
</section>
{% endblock %}
{% block scripts %}
<script type="text/javascript">

  $(function(){
    $(".input-file").on("change","input[type='file']",function(){
    var filePath=$(this).val();
    if(filePath.indexOf("jpg")!=-1 || filePath.indexOf("png")!=-1
                || filePath.indexOf("PNG")!=-1 || filePath.indexOf("JPEG")!=-1
                || filePath.indexOf("gif")!=-1 || filePath.indexOf("ico")!=-1){
        $(".showError").html("").hide();
        var arr=filePath.split('\\');
        var fileName=arr[arr.length-1];
        $(".showFile").html(fileName);

        $("#upload_form").submit();

    }else{
        $(".showFile").html("");
        $(".showError").html("您未上传文件，或者您上传文件类型有误！").show();
        return false
    }})
  })
</script>
{% endblock %}